/* Gesamtseite */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #364147;
  background-color: #fff; /* Weißer Hintergrund wie ursprünglich */
}

/* Haupt-Wrapper */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hauptinhalt */
.content {
  flex: 1;
  padding: 20px;
}

/* Footer */
footer {
  flex-shrink: 0;
  text-align: center;
  color: gray;
  padding: 20px 0;
  background-color: gainsboro;
  width: 100%;
}

/* Hauptcontainer */
.home-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

/* Animation */
.home-animation {
  max-width: 300px;
  height: auto;
  margin: 30px 0;
}

/* Buttons */
.cta-buttons {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: #364147;
  color: #fff;
}

.btn-primary:hover {
  background-color: #2a333c;
}

.btn-secondary {
  background-color: #faa541;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #e36b40;
}
