.home-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.home-animation {
    max-width: 300px; /* Anpassen der Größe der Animation */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #364147;
    color: #fff;
}

.btn-primary:hover {
    background-color: #2a333c;
}

.btn-secondary {
    background-color: #ff6347;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #e5533f;
}
